In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')

In [ ]:
df=pd.read_csv('IPL Matches 2008-2020.csv')

In [ ]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [ ]:
df.shape

(816, 17)

In [ ]:
df.describe()

                 id  neutral_venue  result_margin
count  8.160000e+02     816.000000     799.000000
mean   7.563496e+05       0.094363      17.321652
std    3.058943e+05       0.292512      22.068427
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.500000
max    1.237181e+06       1.000000     146.000000

In [ ]:
df.dtypes

id                   int64
city                object
date                object
player_of_match     object
venue               object
neutral_venue        int64
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
eliminator          object
method              object
umpire1             object
umpire2             object
dtype: object

In [ ]:
df.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [ ]:
df['city']

0       Bangalore
1      Chandigarh
2           Delhi
3          Mumbai
4         Kolkata
          ...
811         Dubai
812         Dubai
813     Abu Dhabi
814     Abu Dhabi
815         Dubai
Name: city, Length: 816, dtype: object

In [ ]:
df['city'].mode()

0    Mumbai
Name: city, dtype: object

In [ ]:
df['city']=df['city'].fillna(df['city'].mode()[0])

In [ ]:
df['city'].isnull().sum()

0

In [ ]:
df['player_of_match']=df['player_of_match'].fillna('unknown')

In [ ]:
df['player_of_match'].isnull().sum()

0

In [ ]:
df['winner']=df['winner'].fillna('unknown')

In [ ]:
df['winner'].isnull().sum()

0

In [ ]:
df['result'].mode()

0    wickets
Name: result, dtype: object

In [ ]:
df['result']=df['result'].fillna('mode')

In [ ]:
df['result'].isnull().sum()

0

In [ ]:
df['result_margin'].median()

8.0

In [ ]:
df['result_margin']=df['result_margin'].fillna('median')

In [ ]:
df['result_margin'].isnull().sum()

0

In [ ]:
df['method'].mode()

0    D/L
Name: method, dtype: object

In [ ]:
df['method']=df['method'].fillna('mode')

In [ ]:
df['method'].isnull().sum()

0

In [ ]:
df['date']=pd.to_datetime(df['date'])

In [ ]:
df.dtypes

id                          int64
city                       object
date               datetime64[ns]
player_of_match            object
venue                      object
neutral_venue               int64
team1                      object
team2                      object
toss_winner                object
toss_decision              object
winner                     object
result                     object
result_margin              object
eliminator                 object
method                     object
umpire1                    object
umpire2                    object
dtype: object

In [ ]:
df.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1              816
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin        0
eliminator           0
method               0
umpire1              0
umpire2              0
dtype: int64

In [ ]:
df['eliminator'].mode()

0    N
Name: eliminator, dtype: object

In [ ]:
df['eliminator']=df['eliminator'].fillna('mode')

In [ ]:
df['team1']=df['team1'].replace('Rajasthan Royals','RR')
df['team2']=df['team2'].replace('Rajasthan Royals','RR')
df['toss_winner']=df['toss_winner'].replace('Rajasthan Royals','RR')
df['winner']=df['winner'].replace('Rajasthan Royals','RR')

In [ ]:
df['team1']=df['team1'].replace('kolkata knight Riders','KKR')
df['team2']=df['team2'].replace('kolkata knight Riders','KKR')
df['toss_winner']=df['toss_winner'].replace('kolkata knight Riders','KKR')
df['winner']=df['winner'].replace('kolkata knight Riders','KKR')
df[player_of_match]=df['player_of_match'].replace('kolkata knight Riders','KKR')

In [ ]:
df['team1']=df['team1'].replace('Delhi Daredevils','DF')
df['team2']=df['team2'].replace('Delhi Daredevils','DF')
df['toss_winner']=df['toss_winner'].replace('Delhi Daredevils','DF')
df['winner']=df['winner'].replace('Delhi Daredevils','DF')
df['player_of_match']=df['player_of_match'].replace('Delhi Daredevils','DF')

In [ ]:
df['team1']=df['team1'].replace('Gujarat Lions','GL')
df['team2']=df['team2'].replace('Gujarat Lions','GL')
df['toss_winner']=df['toss_winner'].replace('Gujarat Lions','GL')
df['winner']=df['winner'].replace('Gujarat Lions','GL')
df['player_of_match']=df['player_of_match'].replace('Gujarat Lions','GL')

In [ ]:
df['team1']=df['team1'].replace('channai super king','CSK')
df['team2']=df['team2'].replace('channai super king','CSK')
df['toss_winner']=df['toss_winner'].replace('channai super king','CSK')
df['winner']=df['winner'].replace('channai super king','CSK')

In [ ]:
df['team1']=df['team1'].replace('kings xi punjab','KP')
df['team2']=df['team2'].replace('kings xi punjab','KP')
df['toss_winner']=df['toss_winner'].replace('kings xi punjab','KP')
df['winner']=df['winner'].replace('kings xi punjab','KP')
df['player_of_match']=df['player_of_match'].replace('kings xi punjab','KP')

In [ ]:
df['team1']=df['team1'].replace('Royal challengers bangalore','RCB')
df['team2']=df['team2'].replace('Royal challengers bangalore','RCB')
df['toss_winner']=df['toss_winner'].replace('Royal challengers banglore','RCB')
df['winner']=df['winner'].replace('Royal challengers bangalore','RCB')
df['player_of_match']=df['player_of_match'].replace('Royal challengers bangalore','RCB')

In [ ]:
df[t]

NameError: name 'team1' is not defined